<?xml version="1.0" ?>
<config>
    <modules>
        <CoreValue_Instagram>
            <version>0.0.1</version>
        </CoreValue_Instagram>
    </modules>
    <frontend>
        <routers>
            <corevalueinstagram>
                <use>standard</use>
                <args>
                    <module>CoreValue_Instagram</module>
                    <frontName>ajax_instagram_items</frontName>
                </args>
            </corevalueinstagram>
        </routers>
        <layout>
            <updates>
                <corevalueinstagram>
                    <file>corevalueinstagram.xml</file>
                </corevalueinstagram>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <corevalueinstagram>
                <use>admin</use>
                <args>
                    <module>CoreValue_Instagram</module>
                    <frontName>corevalueinstagram</frontName>
                </args>
            </corevalueinstagram>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <corevalueninstagram>
                    <file>corevalue_instagram.xml</file>
                </corevalueninstagram>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <corevalueinstagram>
                <class>CoreValue_Instagram_Model</class>
                <resourceModel>corevalueinstagram_resource</resourceModel>
            </corevalueinstagram>
            <corevalueinstagram_resource>
                <class>CoreValue_Instagram_Model_Resource</class>
                <entities>
                    <table_items>
                        <table>corevalue_instagram_item</table>
                    </table_items>
                    <table_products>
                        <table>corevalue_instagram_item_products</table>
                    </table_products>
                </entities>
            </corevalueinstagram_resource>
        </models>
        <resources>
            <corevalueinstagram_setup>
                <setup>
                    <module>CoreValue_Instagram</module>
                </setup>
            </corevalueinstagram_setup>
        </resources>
        <helpers>
            <corevalueinstagram>
                <class>CoreValue_Instagram_Helper</class>
            </corevalueinstagram>
        </helpers>
        <blocks>
            <corevalueinstagram>
                <class>CoreValue_Instagram_Block</class>
            </corevalueinstagram>
        </blocks>
    </global>
</config>